.inputContainer {
  position: relative;

  .inputHint {
    position: absolute;
    right: -40px;
    top: calc(50% - 12px);
    clear: both;
    padding: 0;
    margin: 0;
    >*{
      display:block !important;
    }
  }

}
